# Byte-compiled / optimized / DLL files
*/__pycache__/*
*.py[cod]
*$py.class

# experiment runs from original code
*best_model.pt
# wandb testing
runs/*

# for now while prototyping
data/raw/*
data/processed/*

# experiments
*figs*

# aml
*.ipynb_aml_checkpoints/*
.ipynb_aml_checkpoints/
*.amltmp
*.amltemp
*.amlignore

