# Byte-compiled / optimized / DLL files
*/__pycache__/*
*.py[cod]
*$py.class

# experiment runs
log/*

# for now while prototyping
data/*

# aml
*.ipynb_aml_checkpoints/*
.ipynb_aml_checkpoints/
*.amltmp
*.amltemp

